<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/vue"></script>
    <scriptsrc="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <scriptsrc="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" type="text/css" href="home.css">
    <title>Document</title>
</head>
<body>
    <div id="header">
            <input type="text" v-model="searchText" placeholder="Search"><br>
            
            
    </div>
    <div id="filter1">
            <h1>Filters</h1>
            <select multiple v-model='selectedTopic'>
            <option v-for='topic in topics'>
            {{topic}}
            </option>
            </select>
            <p>Selected topics: {{selectedTopic}}</p>
            <!-- <br> -->
            <select multiple v-model='selectedLocation'>
            <option v-for="location in locations">
                {{location}}
            </option>
            </select>
            <p>Selected location: {{selectedLocation}}</p>
            <button v-on:click='reset'>reset</button>

            </div>
<div id="searchBy">
        <input type="text" v-model="searchText" placeholder="Search">Search 
        <div v-bind:style="mainStyle"
        v-for="(course,i) in computedCourses" :key="i">
</div>
</div>
        

            
   
<div id="courseList">
        <select v-model="selected">
                <option v-for="option in options"
                   v-bind:value="option.value">
                    {{option.text }}
                    </option>
                   </select>
                   <span>sort by Price</span>
                   
                  
       
        <h1>Course list</h1>
        
        <br></br>
        <div v-for="topic in sortedArray" class="course">
                
        <li v-for='(value, name) in topic'>{{name}}: {{value}}</li>
</div>
</div>   
<div id="rev">
     <div v-for="review in   reviewscomment" class="course">
     <li v-for='(value, name) in review'>{{name}}: {{value}}</li>
     </div>
</div>

    <h1>leave a review</h1>

    <form id="reviews">
    <select v-model="selected">
    <option v-for="option in options"
    v-bind:value="option.value">
     {{option.text }}
     </option>
    </select>
    <input type="text" v-model="searchText" placeholder="review"><br>
    <button v-on:click='leaveReview'>submit</button>
</form>
</div>
 
    
 <script>


      
var filterApp = new Vue({
el: '#filter1',
data: {
 
courses: [
{ 'topic': 'math', 'location': 'hendon', 'price': 100 },
 { 'topic': 'math', 'location': 'colindale', 'price': 80 },
 { 'topic': 'math', 'location': 'brent cross', 'price': 90 },
 { 'topic': 'math', 'location': 'golders green', 'price': 120 },
 { 'topic': 'english', 'location': 'hendon', 'price': 110 },
 { 'topic': 'english', 'location': 'colindale', 'price': 90 },
 { 'topic': 'english', 'location': 'brent cross', 'price': 90 },
 { 'topic': 'english', 'location': 'golders green', 'price': 130 },
 { 'topic': 'piano', 'location': 'hendon', 'price': 120 },
 { 'topic': 'piano', 'location': 'golders green', 'price': 140 }
],

selectedTopic: [],
selectedLocation: [],
},

methods: {
reset: function() {
this.selectedTopic = [];
this.selectedLocation = [];
}
},
computed: {
topics: function () { // return an array of all the topics
 
return [...new Set(this.courses.map(x => x.topic))]
},
locations: function () {
return [...new Set(this.courses.map(x => x.location))]
}
}})


var filterApp2 = new Vue({
el: '#courseList',
data: {
    selected: 'A',
    options: [
      { text: 'high to low', value: 'A' },
      { text: 'low to high', value: 'B' },
     
    ],

 courses: [
{ 'topic': 'math', 'location': 'hendon', 'price': 100 },
 { 'topic': 'math', 'location': 'colindale', 'price': 80 },
 { 'topic': 'math', 'location': 'brent cross', 'price': 90 },
 { 'topic': 'math', 'location': 'golders green', 'price': 120 },
 { 'topic': 'english', 'location': 'hendon', 'price': 110 },
 { 'topic': 'english', 'location': 'colindale', 'price': 90 },
 { 'topic': 'english', 'location': 'brent cross', 'price': 90 },
 { 'topic': 'english', 'location': 'golders green', 'price': 130 },
 { 'topic': 'piano', 'location': 'hendon', 'price': 120 },
 { 'topic': 'piano', 'location': 'golders green', 'price': 140 }
]
},

computed:{
    sortedArray: function(){
              if(this.selected ==="A"){
             function compare(a,b){
             return b.price-a.price}}
            if(this.selected==="B"){
                      function compare(a,b){
                        return a.price -b.price}}
                    return this.courses.sort(compare);
  }
}            
                
                },

)
var filterApp3 = new Vue({
el: '#searchBy',

data: {
    mainStyle:'red',
    searchText:'',
    courses:[
{ 'topic': 'math', 'location': 'hendon', 'price': 100 },
 { 'topic': 'math', 'location': 'colindale', 'price': 80 },
 { 'topic': 'math', 'location': 'brent cross', 'price': 90 },
 { 'topic': 'math', 'location': 'golders green', 'price': 120 },
 { 'topic': 'english', 'location': 'hendon', 'price': 110 },
 { 'topic': 'english', 'location': 'colindale', 'price': 90 },
 { 'topic': 'english', 'location': 'brent cross', 'price': 90 },
 { 'topic': 'english', 'location': 'golders green', 'price': 130 },
 { 'topic': 'piano', 'location': 'hendon', 'price': 120 },
 { 'topic': 'piano', 'location': 'golders green', 'price': 140 }
]
},
computed:{
                computedCourses:function(){
                    var computed =true;
                    if(this.searchText.trim().length==0){
                        return this.courses;
                    }else{
                        return this.courses.filter(c=>
                        
c.topic.toLowerCase().trim().includes(this.searchText.toLowerCase().trim())     
//comapres both search and array list string and returns only those that matches
        
                        || 
c.location.toLowerCase().trim().includes(this.searchText.toLowerCase().trim())

                        )
                    }
                }},
    })
    var filterApp4 = new Vue({
el: '#reviews',

data: { 
    searchText:'',
    
     selected: 'A',
      options: [
      { text: 'leave a rewiew for math', value: 'A' },
      { text: 'leave a rewiew for english', value: 'B' },
      { text: 'leave a rewiew for piano', value: 'c' },
     
    ]
    },
    methods:{
    leaveReview:function (event){
        var review = this.searchText;
      
        reviews = JSON.parse(localStorage.getItem('reviews')); 
              if(this.selected ==="A"){
                reviews.push({'mathReview':review});   
                     localStorage.setItem('reviews', JSON.stringify(reviews)); 
                    
                     
              }
                 else if (this.selected==="B") {
                  reviews.push({'englishReview':review});   
                     localStorage.setItem('reviews', JSON.stringify(reviews));

                     
                 }
                     else 
                  reviews.push({'pianoReview':review});   
                     localStorage.setItem('reviews', JSON.stringify(reviews));

                   

            
  
} 
    
    }})
    var filterApp5 = new Vue({
el: '#rev',

data: { 
},
computed:{
              reviewscomment:function(){
            reviews = JSON.parse(localStorage.getItem('reviews'))
             const peopleArray = Object.keys(reviews).map(i => reviews[i])
             return peopleArray ;

          
   

}

            
}}); 
    </script>
</body>
</html>