<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/vue"></script>
    <scriptsrc="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <scriptsrc="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Document</title>
</head>
<body>
        <div class="main">
                <h1 style="text-align:center">Create An Account </h1>
                <h2 id="regmessage"></h2>
                <form id="regform">
                    <label for="username">User Name</label>
                     <input required type="text" id ="username" v-model='username'>
                     <label for="email">Email</label>
                     <input required type="email" id ="email" v-model='email'>

                     <label for="password">Password</label>
                     <input required type="password" id ="password" v-model='password'>

                     <label for="conpassword">confirm password</label>
                     <input required type="password" id ="conpassword" v-model='confirmpassword'>
                     <button v-on:click='register'>submit</button>
                </form>
                
                <h1 id="successfullregmessage"></h1>
                </div>

                <form id="signin">
                        <h1 style="text-align:center">Sign Ins </h1>
                        <label for="username">User Name</label>
                         <input required type="text" id ="username" v-model='username'>
                        
    
                         <label for="password">Password</label>
                         <input required type="password" id ="password" v-model='password'>
    
                         <button v-on:click='signin'>submit</button>
                    </form>
                    <h2 id="message"></h2>

                    <div id="searchBy">
                            <input type="text" v-model="searchText" placeholder="Search">Search
                            <br><br>
                            <div v-bind:style="mainStyle"
                              v-for="(course,i) in computedCourses" :key="i">
                                    <ul>
                                        <li>topic: {{course.topic}}</li>
                                        <li>location: {{course.location}}</li>
                                        
                                       <li>price:&pound{{course.price}}</li>
                                        <li>rating: 
                                     {{course.rating}}</li>
                                    <button v-on:click=course.rating++>rating</button>
                                    
                                                     
                                      
                                        
                                    </ul>
                
                    </div>
                    </div>


<script>
var registration = new Vue({
el: '#regform',
data: {
    username:'',
    email: '',
    password: '',
   confirmpassword:''
 

},
methods: 
{
    register: function() {  
           
         
var users = '';  
var userName = this.username; 
var newEmail = this.email;  
var Upassword = this.password;
var Upasswordcon = this.confirmpassword;

    var checkingForAt = newEmail.indexOf("@");
     var checkingForDot = newEmail.indexOf(".");

 if (localStorage.getItem('users'))
 { 
  // 'users' is an array of objects  
     users = JSON.parse(localStorage.getItem('users'));  
                              };    
        if (users) {           
             if (users.some(function(user) {return user.email === newEmail})) {  
            alert('Email already exists!');    
            return;  
            }
            else if (userName.length <= 1 || userName.length > 20 ) {
                 alert("please etnetr at least 2 character ");
                 regform.Uname.focus();
                 return false
                   }
                   else if ((Upassword.length <= 7 || Upassword.length > 20 ) ) {
                   alert("password must be at least 8 character and not more than 20");
                       return false ;
                    }
                    else if (Upassword != Upasswordcon ) {
                     alert("passwords do not match");
                      return false ;
                        }
            
                  else                           
                   users.push({'username':userName, 'email': newEmail, 'password': Upassword});   
                     localStorage.setItem('users', JSON.stringify(users));        }   

                 
                        else {  
                            users = [{'username':userName, 'email': newEmail, 'password':Upassword }];   
                            localStorage.setItem('users', JSON.stringify(users)); 
                                                             
                              } 
                                                        
                                                        }  
 
                 
                 
                 }})

 var signin = new Vue({
el: '#signin',
data: {
    username:'',
    password: '',
 
 

},
methods: 
{
    signin: function() {  
            
         
var loginusers = '';  
var userName = this.username;  
var Upassword = this.password; 


// if user do not have an account 
if (localStorage.getItem('users'))
 { 
  // 'users' is an array of objects  
     users = JSON.parse(localStorage.getItem('users'));  
   
                              }; 


 if (users) {           
        if (users.some(function(user) {return user.username != userName })) {  
            alert('the user name you entered does not exist');   
            return;  
        
            }
            else if (users.some(function(user) {return user.password != Upassword })) {  
            alert('the password does not match');    
            return;  
        
            }
              else 
 
                var usrObject = users.some(function(user){return user.username})
  
       
                     document.getElementById("message").innerHTML = userName + " is logged in";
                     localStorage.loginUser = userName;
       
                            }

else {
    
      document.getElementById("signin").reset();
      
                   
    
}

 }}})


 var filterApp3 = new Vue({
el: '#searchBy',

data: {
    mainStyle:'red',
    searchText:'',
    courses:[
{ 'topic': 'math', 'location': 'hendon', 'price': 100 },
 { 'topic': 'math', 'location': 'colindale', 'price': 80 },
 { 'topic': 'math', 'location': 'brent cross', 'price': 90 },
 { 'topic': 'math', 'location': 'golders green', 'price': 120 },
 { 'topic': 'english', 'location': 'hendon', 'price': 110 },
 { 'topic': 'english', 'location': 'colindale', 'price': 90 },
 { 'topic': 'english', 'location': 'brent cross', 'price': 90 },
 { 'topic': 'english', 'location': 'golders green', 'price': 130 },
 { 'topic': 'piano', 'location': 'hendon', 'price': 120 },
 { 'topic': 'piano', 'location': 'golders green', 'price': 140 }
]
},
computed:{
                computedCourses:function(){
                    var computed =true;
                    if(this.searchText.trim().length==0){
                        return this.courses;
                    }else{
                        return this.courses.filter(c=>
                        
c.topic.toLowerCase().trim().includes(this.searchText.toLowerCase().trim())     
//comapres both search and array list string and returns only those that matches
        
                        || 
c.location.toLowerCase().trim().includes(this.searchText.toLowerCase().trim())

                        )
                    }
                }},
    })

</script>
    
</body>

</html>